<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ErrorLogType" value="1" />
    <add key="ApplicationKey" value="PW001KLM" />
    <add key="ForTest" value="Y" />
  </appSettings>
  <connectionStrings>
    <!--<add name="WEBAPPConnectionString" connectionString="Data Source=NODE-PC;Initial Catalog=WEBAPP;User ID=sa;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />-->
    <add name="WEBAPPConnectionString" connectionString="Server=localhost;User=SYSDBA;Password=masterkey;Database=C:\temp\FireBird\FISHWEIGHT.FDB"
    providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>
  <system.web>

    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>
    <authorization>
      <!--<deny users="?" />-->
      <allow users="*" />
      <allow roles="A" />
      <allow roles="S" />
      <allow roles="T" />
      <allow roles="P" />
      <allow roles="U" />
      <allow roles="V" />
      <allow roles="Q" />
    </authorization>

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <globalization culture="en-US" uiCulture="en-US" />
  </system.web>
</configuration>